body {
    background: url('/img/background_error.jpg') no-repeat center center fixed;
}
.bold {
    font-weight: bold;
}
#error-box-container {
    width: 300px !important;
    height: 170px !important;
    position: fixed;
    left: 50%;
    top: 50%;
}
#error-box {
    background-color: white;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    left: -150px;
    top: -50%;
    box-shadow: rgba(0,0,0,0.5) 0px 10px 25px;
    -webkit-box-shadow: rgba(0,0,0,0.75) 0px 10px 25px
}
#error-motif {
    left: 0px;
    top: 0px;
    width: 300px;
    height: 32px;
    margin: 0px 0px 20px -15px;
    background-image: url('/img/hazard_stripes.png')
}